body{
    margin: 0;
    font-family: "Gilroy";
}
button{
    padding: 0;
    margin: 0;
    border: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    margin: 0px;
}


@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy-medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy-bold.ttf);
    font-weight: 700;
}

.btn {
    font-family: "Gilroy";
    background: #ff7129;
    box-shadow: 0px 4px 28px 0px #ff71294a;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    display: block;
    width: 188px;
    padding: 16px 45px;
    transition: all ease 1s;
  }
  
  .btn:hover {
   opacity: 0.8;
  }
  
  .btn-dark {
    background-color: #20242d;
    border: 1px solid #ff7129;
    box-sizing: border-box;
    box-shadow: 0px 4px 28px 0px #ff7129ab;
  }

.container {
    width: 100%;
    max-width: 1600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.header .wrapper-top{
   background: #20242D;
   padding-top: 10px;
   padding-bottom: 10px;
  
}
.header .wrapper-top .container{
    display: flex;
    justify-content: space-between;

}
.header .adress{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color:  #FFFFFF;
}
.header .contacts{
    display: flex;
    justify-content: space-between;
}
.header .contacts li{
    position: relative;
    margin-right: 56px;
    padding-left: 20px;
}

.header .contacts svg{
    position: absolute;
    top: 4px;
    left: 0px;
}

.header .contacts li:last-child{
    margin-right: 0px;
}

/*.header .contacts li{
    display: inline-block;
}Второй возможный вариант*/

.header .contacts a{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color:  #FFFFFF;
    text-decoration: none;
}
.header .wrapper-bot{
    background: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 11px;

}
.header .wrapper-bot .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation ul {
    display: flex;
    align-items: center;
}

.header .navigation li {
    margin-right: 56px;
    
}

.header .navigation li:last-child {
    margin-right: 0px;
}

.header .navigation a {
    height: 17px;
    width: 543px;
    /*left: 1007px;
    top: 54px;*/
    border-radius: 0px;
    color: #20242D;
    text-decoration: none;
}

.header .navigation a:hover {
    color: #ff7129;
}


.header .navigation .active {
    position: relative;
    color: #FF7129;
}

.header .navigation .active::before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 9px;
    left: -15px;
}

.header .navigation .active::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 9px;
    right: -15px;
}

.start-screen{
    background: gray;
    background-image:url(../img/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.start-screen .container {
    position: relative;
    padding-top: 270px;
    padding-bottom: 138px;
}

.start-screen .main-title{
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    color:  #FFFFFF;
    margin-top: 0px;
    margin-bottom: 16px;
}

.start-screen .slogan{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color:  #FFFFFF;
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;

}

.start-screen .decor-word {
    position: absolute;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 0em;
    text-align: left;
    color:transparent;
    text-transform: uppercase;
    top: 167px;
    left: 50px; 
}

.start-screen .decor-word-2 {
    position: absolute;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    text-transform: uppercase;
    bottom: 282px;
    right: 50px;
}

.start-screen .btn{
    background: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    display: block;
    width: 188px;
    padding: 16px 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 98px;

}
.start-screen .btn-scroll{
    background: rgba(123, 126, 133, 0.4);
    /*width: 46px;
    height: 46px;*/
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-info {
    background-color: #FFFFFF;
   /*background-image: url(../img/bg-main-paige.jpg.jpg);*/
    /*background-size: 353px 606px;*/
}


.main-info .container {
    position: relative;
    background-image: url(../img/bg-main-paige.jpg.jpg);
    background-size: 535px 606px;
    background-position: -11px 83px;
    background-repeat: no-repeat;
    padding-top: 132px;
    padding-bottom: 115px;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.main-info .container::before {
    position: absolute;
    top: 0px;
    left: 200px;
    content: "";
    display: block;
    width: 1px;
    height: 847px;
    background-color: #7B7E85;
    opacity: 0.15
}

.main-info .container::after {
    position: absolute;
    top: 0px;
    left: 1400px;
    content: "";
    display: block;
    width: 1px;
    height: 847px;
    background-color:#7B7E85;
    opacity: 0.15
}

.main-info .title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(32, 36, 45, 1);
}

.main-info img {
    margin-right: 65px;
}

.main-info .content {
    position: relative;
    width: 535px;
    padding-top: 69px;
}

.main-info .content::before {
    position: absolute;
    top: -132px;
    left: -65px;
    content: "";
    display: block;
    width: 1px;
    height: 847px;
    background-color: #7B7E85;
    opacity: 0.15
}

.main-info .decor-word-3 {
    position: absolute;
    top: 0px;
    left: -28px;
    -webkit-text-stroke: 1px rgba(32, 36, 45, 0.3);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    text-transform: uppercase;
}

.main-info .title {
    position: relative;
    margin-top: 0;
    margin-bottom: 64px;
    padding-left: 16px;
}

.main-info .title::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    display: block;
    width: 1px;
    height: 52px;
    background-color: #FF7129;
}

.main-info .content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(32, 36, 45, 1);


}

.footer {
    background: #20242D;
}

.footer .wrapper-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .navigation a{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

.footer .wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 52px;
}

.footer .navigation a:hover {
    color: #ff7129;
}

.footer .navigation .active{
    color: #FF7129;
}

.footer .navigation ul{
    display: flex;
    align-items: center;
}

.footer .navigation li{
    margin-left: 56px;
}

.footer .navigation li:last-child{
    margin-right: 0px;
}

.footer .btn-dark{
    font-family: 'Gilroy';
    display: block;
    background-color: #20242D;
    border: 1px solid #FF7129;
    color: #FFFFFF;
    height: 49px;
    width: 187px;
    left: 1363px;
    top: 50px;
    border-radius: 0px; 
    padding: 16px 45px;   
}

.footer .wrapper-buttom{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(123, 126, 133, 0.3);
}

.footer .wrapper-buttom .privace{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #7B7E85;
}
.footer .wrapper-buttom .secur-data{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #7B7E85;
}
.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-top: 72px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 51px;
}

@keyframes fadeIn {
    0% {
        transform: translate(-50%, -2000px);
    }
      50% {
        transform: translate(-50%, 0%);
    }
      100% {
        transform: translate(-50%, -50%);
    } 
}

.pop-up-show {
    display: block;
    animation-name: fadeIn;
    animation-duration: 3s;
} 

.pop-up .pop-up-close {
    position: absolute;
    top: 22px;
    right: 22px;
    background-color: transparent;
}

.pop-up .pop-up-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    margin-bottom: 16px;
}

.pop-up .pop-up-comment {
    margin-bottom: 56px;
}

.pop-up form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.pop-up form label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #7b7e85;
    margin-bottom: 24px;
}

.pop-up form input {
    display: block;
    border: 1px solid #e0e0e0;
    padding: 16px 24px;
    margin-top: 12px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
    min-width: 327px;
    box-sizing: border-box;
}

.pop-up form input::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7b7e85;
}

.pop-up form .pop-up-btn {
    height: 49px;
    width: 187px;
    left: 555px;
    top: 593px;
    border-radius: 0px;
    background-color: #FF7129;
    color: #FFFFFF;
    
}

/* Страничка 2 - Info-screen */

.info-screen {
    background-image:url(../img/info-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    max-height: 350px;
}

.info-screen .main-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.info-content {
    background-color: #FFFFFF;
    background-image:url(../img/content-info-bg.png);
    background-position: 128px 0;
    background-size: 1400px 1055px;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 184px;
}

.info-content .content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1134px;
    margin-left: auto;
    margin-right: auto;
}

.info-screen .main-title {
    position: relative;
    height: 130px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-top: 200px;
    padding-left: 217px;

}

.info-screen .decor-word {
    position: absolute;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    text-transform: uppercase;
    padding-top: 131px;
    padding-left: 173px;
    padding-bottom: 100px;
}

.info-content .content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    height: 72px;
    width: 534px;
    margin-bottom: 30px;
}

.info-content .content p:nth-child(1) {
    margin-right: 66px;

}


/* Страничка 3 - Project-page*/

.project-screen {
    background-image: url(../img/bg-project-screen.jpg.jpg);
    background-position: center;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    /*background-color: #7B7E85;*/
    padding-top: 125px;
    padding-bottom: 100px;
}

.project-screen .main-title {
    position: relative;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
    padding-left: 16px;
}

.project-screen .main-title::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 1px;
    height: 52px;
    background-color: #ff7129;
}

.project-screen  .main-title .decor-word-4 {
    position: absolute;
    bottom: 0px;
    left: -28px;
    -webkit-text-stroke: 1px rgba(32, 36, 45, 0.3);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    text-transform: uppercase;

}

.swiper-slide {
    opacity: 0.5;
}
 

.swiper-slide img {
    width: 100%;
}

.swiper-slide-active {
    /*width: 64.3% !important;*/
    width:58.75% !important;
    margin: 0 160px;
    opacity: 1;
}

.swiper-button-next {
    right: 19%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #ff7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}


.swiper-button-prev {
    left: 11%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #ff7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}

.swiper-button-prev::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/arrow-left-gallery.svg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
  
  .swiper-button-next::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/arrow-right-gallery.svg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.swiper-container {
    padding-bottom: 54px;
}

.swiper-pagination {
    bottom: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #7b7e85;
}

.swiper-pagination-current {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
}